html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: white;
  height: 100%;
}

.landingPage {
  width: 100%;
  background-image: url('../img/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 3;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.landingPageLinks {
  /*position: absolute;*/
  /*bottom: 0;*/
  padding: 10px 30px;
  box-sizing: border-box;
  width: 100%;
}

.link a, .button a {
  text-decoration: none;
  color: white;
}

.landingRow1 {
  /*height: 100vh;*/
  width: 100%;
  align-self: center;
}

.landingRow2 {
  height: 100vh;
  background: white;
}

.row {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  /*padding: 30px;*/
  background: rgba(0,0,0,0.70);
  overflow: hidden;
  z-index: 2;
}

.row2 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0,0,0,0.80);
  overflow: auto;
  z-index: 2;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.videoContainer {
  padding: 0 30px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  color: white;
}

.visionRescueLink {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.video {
  margin: 20px 0;
}

.button {
  background-color: #d61830;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8em;
  color: white;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.getInvolved {
  background-color: #0096D6;
}

.appHome {
  height: 48px;
  width: 48px;
  position:absolute;
  left: 0;
  background-image: url('../img/home2.png');
  background-size: 30px 30px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.appBar {
  background: white;
  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  /*border-bottom: 1px solid lightgrey;*/
  z-index: 2;
  background-color: black;
  color: white;
}

.appTitle {
  font-size: 1.3em;
  margin-left: 50px;
  padding: 10px 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.appBody {
  display: none;
  overflow: auto;

  background-color: rgba(0,0,0,0.70);
  background-image: url('../img/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.bottomTabs {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  border-top: 1px solid lightgray;
  box-sizing: border-box;
  z-index: 2;
}

.tab {
  float: left;
  width: 25%;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
}

.tabActive {
  background-color: lightgray;
}

.tabExplore {
  background-image: url('../img/explore2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.tabDrives {
  background-image: url('../img/drives2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.tabPledges {
  background-image: url('../img/pledges2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.tabCreate {
  background-image: url('../img/create2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.explore {
  overflow: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.listItemDetails {
  background: white;
}

.listItem {
  box-sizing: border-box;
  /*background-color: white;*/
  overflow: auto;
  /*margin-bottom: 10px;*/
  padding: 10px;
}

.listItemImgContainer {
  /*padding: 10px 10px 0 10px;*/
}

.listItemImg {
  width: 100%;
  height: 150px;
  background-image: url('../img/art_day.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.listItemDetails {
  padding: 15px 15px 15px 15px;
  border: 1px solid lightgrey;
  border-top: 0;
  color: #434344;
  background-color: white;
}

.listItemName {
  font-weight: 700;
}

.listItemCreator {
  display: none;
  font-size: 0.8em;
  color: gray;
}

.listItemDescription {
  font-family: "Georgia", serif;
  font-size: 0.9em;
  /*color: black;*/
  margin: 10px 0;
  min-height: 54px;
}

.listItemStatusContainer {
  border-radius: 30px;
  background-color: lightgray;
  height: 12px;
  margin: 5px 0;
}

.listItemStatus {
  width: 50%;
  height: 12px;
  background-color: green;
  border-radius: 30px;
  margin: 5px 0;
}

.listItemProgressDetails {
  overflow: auto;
}

.listItemProgressDetails > div {
  width: 33.33%;
  font-size: 0.7em;
  color: #434344;
  text-align: center;
  float: left;
}

.listItemNumber {
  font-size: 1.4em;
}

.listBtnPledge {
  text-align: center;
  background-color: #d61830;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
  font-size: 0.8em;
}

/*VIEW ITEM*/
.viewBanner {
  background-image: url('../img/art_day.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.viewDetails {
  position: relative;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.70);
  overflow: hidden;
  z-index: 2;
  color: white;
  padding: 15px;
}

.viewTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.viewDescription {
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 0.9em;
}

.viewTiles {
  overflow: auto;
}

.viewTiles > div {
  font-weight: 700;
  font-size: 0.8em;
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  /*height: 80px;*/
  background-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  /*border-top: 1px solid gray;
  border-bottom: 1px solid gray;*/
}

.viewBody {
  padding: 15px;
}

.myContributions {
  margin-bottom: 15px;
  overflow: auto;
}

.myContributions > div {
  float: left;
  width: 50%;
}

.col-amt {
  text-align: right;
}

.addContribution {
  padding-top: 15px;
  border-top: 1px solid gray;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

.modal-header {
  background-color: #d61830;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.modal-form {
  padding: 15px;
  overflow: auto;
}

.modal-ok {
  background-color: #d61830;
  display: none;
  text-align: center;
  color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

.modal-cancel {
  position: absolute;
  left: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

.category-label {
  color: #434344;
  text-align: left;
  width: 100%;
  /*text-transform: uppercase;*/
  /*font-weight: 700;*/
  font-size: 1em;
  /*font-family: "Georgia", serif;*/
  margin-bottom: 5px;
}


.volunteer {
  border-right: 2px solid white;
  border-radius: 5px 0 0 5px;
}

.donate {
  border-radius: 0px 5px 5px 0px;
}

.donate_container {
  display: none;
  margin-top: 5px;
  clear: both;
  overflow: auto;
}

.amount {
  overflow: auto;
  display: none;
  width: 100%;
}

.val {
  width: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 1em;
}

.category {
  overflow: auto;
}

.category > div {
  float: left;
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  background-color: #bbb;
  padding: 15px 0;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  color: white;
}

.category > div.selected {
  background-color: #0096D6;
}

.volunteer_container {
  display: none;
  margin-top: 5px;
  clear: both;
  overflow: auto;
}

.label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #444;
}

.skill {
  overflow: auto;
  padding: 5px 0;
}

.time {
  display: none;
  overflow: auto;
  padding: 5px 0;
  /*border: 0;
  font-size: 1em;
  width: 100%;
  outline: 0;*/
}

.item {
  padding: 10px 15px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.selected {
  background-color: #0096D6;
}

.dropdown {
  font-size: 1em;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Modal Content/Box */
.modal-content {
  align-self: center;
  background-color: #fefefe;
  /*border: 1px solid #888;*/
  border-radius: 5px;
  width: 80%;
}

.btn-container {
  padding: 0 15px 5px 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
}

.btn-container > div {
  /*width: 50%;*/
  /*float: left;*/
  /*box-sizing: border-box;*/
  margin-bottom: 10px;
}

/* */
.viewDrive {
  display: none;
  z-index: 3;
  padding: 0 0 60px 0;
  background-color: white;
  height: 100vh;
}

.viewItemImg {
  width: 100%;
  height: 250px;
  background-image: url('../img/art_day.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  border-radius: 5px;
}

.pledgeDetailsContainer {
  background-image: url('../img/art_day.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.pledgeDetailsContainer > .listItemDetails {
  position: relative;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.70);
  overflow: hidden;
  z-index: 2;

  color: white;
}

.btn {
  margin: 10px 0;
  border-radius: 10px;
  font-family: "Sansita", sans-serif;
  text-align: center;
  background-color: #0096D6;
  padding: 10px 0 12px 0;
  color: white;
}

.btnPledge {
  width: 100%;
}

.left {
  float: left;
}

.createDrive {
  display: none;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}

.pledgeSuccess {
  display: none;
  padding: 0 30px;
}

.myDrives {
  display: none;
}

.myPledges {
  display: none;
}

.drives {
  overflow: auto;
  /*padding-bottom: 10px;*/
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.drives > div {
  float: left;
}

.drivesPic {
  /*width: 70px;
  height: 70px;*/
  width: 30%;
  height: 80px;
  background-image: url('../img/poster.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-bottom: 5px;*/
  border-radius: 5px;
}

.drivesDescription {
  width: 70%;
}

.drivesTitle {
  /*width: 100%;*/
  padding-left: 10px;
  /*color: white;*/
  font-weight: 700;
  color: #434344;
}

.pledgesTitle {
  /*color: white;*/
}

.drivesStatusContainer {
  border-radius: 30px;
  background-color: lightgray;
  height: 12px;
  margin: 5px 10px;
}

.drivesStatus {
  width: 50%;
  height: 12px;
  background-color: green;
  border-radius: 30px;
  margin: 5px 0;
}

.drivesNumbers {
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
}

.drivesNumbers > div {
  float: left;
  width: 50%;
}

.drivesPercentComplete {
  font-size: 0.8em;
}

.drivesDaysToGo {
  font-size: 0.8em;
}

.pledges {
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: #434344;
}

.pledges > div {
  float: left;
}

.pledgesPic {
  /*width: 70px;
  height: 70px;*/
  width: 30%;
  height: 80px;
  background-image: url('../img/poster.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  border-radius: 5px;
}

.pledgesTitle {
  font-weight: 700;
}

.pledgesDescription {
  width: 70%;
}

.pledgesDescription > div {
  margin-left: 10px;
  margin-right: 10px;
}

.pledgesStatusContainer {
  border-radius: 30px;
  background-color: lightgray;
  height: 12px;
  margin: 5px 10px;
}

.pledgesStatus {
  width: 50%;
  height: 12px;
  background-color: green;
  border-radius: 30px;
  margin: 5px 0;
}

.pledgeRole {
  font-size: 0.8em;
}

.pledgeDaysToGo {
  font-size: 0.8em;
}

/*CREATE DRIVE*/
.createDriveHeaderSubtext {
  text-align: center;
}

.createDriveHeader {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.createDetails {
  overflow: auto;
}

.createDetails > div {
  margin-bottom: 10px;
}

.createNavigation {
  overflow: auto;
}

.createRequirements {
  display: none;
}

.uploadPicture {
  display: none;
}

.btnPrev {
  float: left;
  padding: 10px 40px 12px 40px;
}

.btnNext {
  float: right;
  padding: 10px 40px 12px 40px;
}

.btnDone {
  width: 100%;
  margin-top: 20px;
}

.submitSuccess {
  display: none;
  padding: 0px 30px;
}

/*Utilities*/
h2 {
  text-align: center;
}

.textBox {
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  font-size: 1em;
  font-style: "Raleway", sans-serif;
}

.createDetailsDate {
  overflow: auto;
}

.createDetailsDate > div {
  float: left;
}

.requirement {
  overflow: auto;
  margin-bottom: 10px;
}

.requirement > .label {
  background-color: darkgray;
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: "Sansita", sans-serif;
  width: 11%;
  float: left;
  line-height: 36px;
  border-radius: 100px;
}

.requirement > .name {
  width: 65%;
  float: left;
}

.requirement > .pad {
  width: 2%;
  height: 1px;
  float: left;
  overflow: auto;
  color: white;
}

.requirement > .amount {
  width: 20%;
  float: left;
}

.addRequirement {
  background-color: #d61830;
  margin-bottom: 0;
}

.btnUploadFromGallery {
  background-color: #d61830;
  margin-bottom: 0;
}

.textBoxDate {
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 1em;
  height: 36px;
  width: 90%;
  font-style: "Raleway", sans-serif;
}

.calendarIcon {
  height: 36px;
  width: 10%;
  background-image: url('../img/calendar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.col {
  height: auto;
  float: left;
  /*margin: 5px 0px;*/
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
